body {
    background: url(img/molinos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.encabezado {
    background-color: green;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}

.logo {
    color: white;
    text-align: center;
    font-size: 40px;
    line-height: 90px;
    float: left;
    margin-left: 15px;
}

nav {
    line-height: 60px;
    float: right;
}

nav a {
    font-size: 25px;
    color: white;
    display: inline-block;
    padding: 20px;
}

table {
    border-collapse: collapse;
    text-align: center;
    position: relative;
    margin: auto;
    margin-top: 200px;
    padding: 50px;
    width: 30%;
    height: 90%;
    margin-left: 800px;
    border: 1px solid black;
}

table tr {
    background-color: white;
    border: 1px solid black;
}